body{
  background-color: rgba(100,100,100,.2);
}
#header-nav{
  background-color: #647382;
  width: auto;
}
header a: hover{
  text-decoration: none;
}
/* .navbar-right{
  float: right;
} */
.nav-item{
  padding: 5px;
  margin-bottom: auto;
}
nav ul{
  /* float: right; */
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
  margin-top: auto;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  font-size: 20px;
}
h1, li{
  margin-left: 0 ;
  color: white;
}
#date{

}
#textbox{
  padding: 0;
  height: 500px;
  width: 650px;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.85);
  background-color: white;
  font-size: 16px;
  /* align-self: center; */
}
#box2, #box1{
  margin-top: 25px;
}
textarea{
  margin-top: 10px;
  align-self: center;
  /* text-align: center; */
}

.submit{
  border-radius: 25px;
  width: 100px;

}
input: hover{
  background-color: green;
  cursor: pointer;
}
